<header>
  <div class="center">
    <a
      [routerLink]="['/']"
    >
      <img class="header_logo" src="../../../../assets/lgo.png" alt="Netflix Logo">
    </a>
    <div class="header_menu">
      <nav>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-link"
        >Home</a>
        <a
          [routerLink]="['/metrics']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-link"
        >Metrics</a>
      </nav>

      <a
        [routerLink]="['/profile']"
      >
        <img
          class="profile-picture"
          [src]="userProfilePicture"
          alt="User profile picture"
        >
      </a>
    </div>
  </div>
</header>
