<section class="banner">
  <div class="banner_image-wrapper">
    <img src="../../../../../assets/The-Witcher.jpg" alt="The Witcher Serie">
  </div>

  <div class="banner_about">
    <h3>The Witcher</h3>
    <p>The mutant Geralt of Rivia is a monster hunter who struggles to find his place in a world where
      people are often more vicious than wild creatures.</p>
    <div class="actions">
      <button role="button" class="button btn-assistir">Watch now</button>
      <button role="button" class="button sobre">About</button>
    </div>
  </div>
</section>

<section class="movies-list">
  <h2>Top World</h2>
  <app-carousel></app-carousel>
</section>

<section class="movies-list">
  <h2>Drama</h2>
  <app-carousel></app-carousel>
</section>

<section class="movies-list">
  <h2>Fantasy</h2>
  <app-carousel></app-carousel>
</section>
