.home-container {
  width: 100%;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100vw;
  height: 800px;

  display: flex;
  align-items: center;
  clear: both;
}

.banner_image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner_about {
  max-width: 60%;
  margin: 0 50px;
  z-index: 2;

  h3 {
    font-size: 100px;
    line-height: 90px;
    font-weight: 700;
    color: white;
  }

  p{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
  }
}

.movies-list {
  display: block;
  padding: 0px 50px;
  margin-top: 50px;

  h2 {
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #FFF;
  }
}

.teste {
  padding: 0 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .banner_about
  {
    max-width: 100%;
    margin: 0 50px;

    h3 {
      line-height: 65px;
      font-size: 45px;
    }
  }

  .banner {
    height: 700px;
  }
}

@media screen and (max-width: 425px) {
  .banner_about
  {
    margin: 0 16px;
  }

  .movies-list {
    padding: 0px 16px;
  }
}

@media screen and (max-width: 420px) {
  .movies-list {
    padding: 0px 16px;
  }
}
