.metrics-container {
  width: 100vw;
}

.metrics-banner {
  width: 100%;
  height: 650px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics-banner_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
  }
}

.banner_text {
  max-width: 1200px;
  font-size: 50px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}

.movies-list {
  width: 100vw;
  padding: 16px 50px;
  margin-top: 50px;

  .subtitle-categorie {
    font-size: 32px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #FFF;
  }
}

.users-list {
  width: 100vw;
  padding: 16px 50px;
  margin-top: 50px;

  .title-users {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    margin: 20px auto;
  }
}

.not-have-country-metrics {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  padding: 16px;
  margin-top: 80px;
}

.top-per-country {
  text-align: center;
  margin-top: 50px;
  padding: 32px 0;
}

.title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  margin: 20px auto;
}

@media screen and (max-width: 1064px) {
  .banner_text {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .banner_text {
    font-size: 40px;
  }
}


@media screen and (max-width: 480px) {
  .banner_text {
    font-size: 32px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 32px;
  }

  .users-list .title-users {
    font-size: 22px;
  }

  .movies-list {
    padding: 0px 16px;
  }
}
