<div class="metrics-container">
  <div class="metrics-banner">
    <div class="metrics-banner_wrapper">
      <img src="../../../../../assets/background-login.jpg" alt="Netflix Series">]
    </div>
    <span class="banner_text">
      See the Top 10 series globally and in each category
    </span>
  </div>

  <section class="movies-list">
    <h2>Top World</h2>
    <app-carousel></app-carousel>
  </section>

  <section class="movies-list">
    <h2>Drama</h2>
    <app-carousel></app-carousel>
  </section>

  <section class="movies-list">
    <h2>Fantasy</h2>
    <app-carousel></app-carousel>
  </section>
</div>
