<div class="metrics-container">
  <div class="metrics-banner">
    <div class="metrics-banner_wrapper">
      <img src="../../../../../assets/background-login.jpg" alt="Netflix Series">]
    </div>
    <span class="banner_text">
      See the Top series global and in each category
    </span>
  </div>

  <section class="users-list">
    <h2 class="title-users">Top 3 users who most watched movies/series</h2>
    <app-users-rank></app-users-rank>
  </section>

  <section class="movies-list">
    <h2 class="title">World's top series and movies</h2>
    <app-carousel [movies]="topMoviesGlobal" [showRank]="true"></app-carousel>
  </section>

  <section
    *ngIf="topMoviesPerCountry.length > 0"
    class="top-per-country"
  >
    <h2 class="title">Top Movies/Series per Country</h2>

    <div class="movies-list" *ngFor="let country of topMoviesPerCountry">
      <h2 class="subtitle-categorie">Top {{ country.countryName }}</h2>
      <app-carousel [movies]="country.movies" [showRank]="true"></app-carousel>
    </div>
  </section>

  <section
    *ngIf="topMoviesPerCountry.length <= 0"
    class="not-have-country-metrics"
  >
    <h2>No have Country Metrics to exib :(</h2>
  </section>

  <section
    *ngIf="topMoviesPerCountry.length > 0"
    class="top-per-country"
  >
    <h2 class="title">Top Movies/Series per Category</h2>

    <div class="movies-list" *ngFor="let category of topMoviesPerCategory">
      <h2 class="subtitle-categorie">Top {{ category.name | titlecase}}</h2>
      <app-carousel [movies]="category.movies" [showRank]="true"></app-carousel>
    </div>
  </section>
</div>
