<div class="player-container">
  <div class="player-menu-navigate">
    <a (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon> Back
    </a>
  </div>
  <div class="player_video">
    <iframe
      width="100%"
      height="100%"
      [src]="movieUrl | safe"
      [title]="movie.title"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
  <div class="about-movie">
    <img [src]="movie.folder" [alt]="movie.title">
    <div class="info-container">
      <div class="wrapper">
        <span class="movie-title">{{ movie.title }}</span>
        <div class="separator"></div>
        <p class="synopsi">{{ movie.synopsi }}</p>
      </div>
      <div class="wrapper inline">
        <span class="subtitle">Categories:</span>
        <p class="subtitle-content">{{ movie.category }}</p>
      </div>
      <div class="wrapper inline">
        <span class="subtitle">Year:</span>
        <p class="subtitle-content">{{ movie.year }}</p>
      </div>
      <div class="wrapper inline">
        <span class="subtitle">Watched:</span>
        <p class="subtitle-content">{{ totalMovieWatched }}</p>
      </div>
    </div>
  </div>
</div>
