.card-container {
  height: 500px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s linear;
  cursor: grab;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.4s linear;
  }

  &:hover {
    .play-movie {
      opacity: 1;
    }

    img {
      scale: 1.25;
      filter: brightness(0.5);
    }
  }

}

.play-movie {
  width: 100%;
  padding: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  transition: all 0.4s linear;

  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #E50914;
    color: white;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.movie-rank {
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom, rgba(229, 9, 20, 1) 0%, rgba(229, 9, 20, 0.5) 100%);
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  border-radius: 0px 0px 0px 25px;
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  sup {
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1024px) {
  .card-container {
    height: 400px;
  }
}
