.profile-container {
  width: 100vw;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  padding: 16px;
  border: 1px solid #CCC;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.profile-picture {
  height: 300px;
}

.profile-wrapper_infos {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.infos {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  gap: 32px;
  font-size: 18px;
}

.logout {
  width: 100%;
  height: 42px;
  border: 0;
  border-radius: 8px;
  background-color: #e50914;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  transition: filter 0.4s linear;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

@media screen and (max-width: 1024px) {
  .profile-picture {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .profile_wrapper {
    flex-direction: column;
  }

  .profile-picture {
    height: 150px;
  }
}

@media screen and (max-width: 425px) {
  .profile-container {
    padding: 50px 16px;
  }

  .profile-wrapper_infos {
    min-height: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile-picture {
    height: 100px;
  }

  .profile_infos {
    font-size: 16px;
  }
}
