<div class="profile-container">
  <div class="profile">
    <div class="profile_wrapper">
      <img class="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="">
      <div class="profile_infos">
        <span><strong>Name:</strong> Nome Completo</span>
        <span><strong>E-mail:</strong> email@teste.com</span>
        <span><strong>Country:</strong> Brazil</span>

      </div>
    </div>
    <div class="movies-watched">
      <span class="not-movies-wathed">No movies watched so far :(</span>
    </div>
  </div>
</div>
